/* intro-page */
.main {
    position: absolute;
    width: 550px;
    height: 550px;
    left: 0;
    top: 0;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #293264;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


/* blobs */
.blob {
    position: absolute;
    width: 297px;
    height: 235px;
    left: -149px;
    top: 80%;
    right: 0;
    bottom: 0;
    z-index: -1;
}
.blob2 {
    position: absolute;
    width: 297px;
    height: 235px;
    left: 65%;
    top: -100px;
    right: 0;
    bottom: 0;
    z-index: -1;
}



