body{
  margin: 0 auto;
  width: 90%;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 5px solid blue;
}

.App{
  width: 80%;
  height: 80%;
  margin: 0 auto;
  background-color: rebeccapurple;
  color: white;
}

